<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}Wat</title>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="/static/bulma.min.css" />
        <link rel="stylesheet" href="/static/main.css" />
    </head>

    <body>
        <nav role="navigation" aria-label="main navigation" class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a href="/" class="navbar-item router-link-exact-active router-link-active"> Wat </a>
                    <label for="nav-toggle-state" class="navbar-burger burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </div>
                <input type="checkbox" id="nav-toggle-state">
                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a href="/about" class="navbar-item">About</a>
                    </div>
                    <div class="navbar-end">
                        <a href="/login" class="navbar-item">Login</a>
                        <a href="/register" class="navbar-item">Register</a>
                    </div>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>
